* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    background: blue;
    color: cyan;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

body{
    background: url(img/sun.jpg) center / cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav1{
    color: cyan;
    text-align: center;
    padding-left: 700px;
    margin: -9;
}


h2{
    background: blue;
    color: cyan;
    width: auto;
    height: 50px;
    margin-top: auto;
    padding: 20px 0px 10px 0px;
    text-align: center;
}

h3{
    background: blue;
    color: cyan;
    width: auto;
    height: 50px;
    margin-top: auto;
    padding: 20px 0px 10px 0px;
    text-align: center;
}


p{
    background: green;
    color: greenyellow;
    margin: 20px 600px;
    

    height: 70px;

    padding: 10px 70px 10px 70px;

    border: 3px solid goldenrod;
    border-radius: 20px;
    text-align: center;
}

.box1 {
    width: 1000px;
    height: 700px;
    margin: 50px auto;
    background-color: cyan;
    color: red;
    border: 4px solid rgb(0, 140, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    padding-top: 80px;
    padding-bottom: 50px;
    border-radius: 25px;
}

.page{
    background-color: rgba(0, 4, 255, 0.473);
    border-radius: 50%;
    padding: 20px;
}

.item1 {
    width: 200px;
    height: 200px;
    background-image: url(img/Baki.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 2px solid blueviolet;
    font-size: 32px;
    border-radius: 25px;
}

.item2 {
    width: 200px;
    height: 200px;
    background-image: url(img/jjk.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 2px solid blueviolet;
    border-radius: 25px;
    font-size: 32px;
}

.item3 {
    width: 200px;
    height: 200px;
    background-image: url(img/jack_hanma.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 2px solid blueviolet;
    border-radius: 25px;
    font-size: 32px;
}

.item4 {
    width: 200px;
    height: 200px;
    background-image: url(img/saitama.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 2px solid blueviolet;
    border-radius: 25px;
    font-size: 32px;
}

.item5 {
    width: 200px;
    height: 200px;
    background-image: url(img/saitama1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 2px solid blueviolet;
    border-radius: 25px;
    font-size: 32px;
}

.item6 {
    width: 200px;
    height: 200px;
    background-image: url(img/zenin.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 2px solid blueviolet;
    border-radius: 25px;
    font-size: 32px;
}

.nav_menu{
    justify-content: center;
    align-items: center;
}