

h1{
    background: blue;
    color: cyan;
    width: auto;
    height: 50px;
    margin-top: auto;
    padding: 20px 0px 10px 0px;
}


h2{
    background: blue;
    color: cyan;
    width: auto;
    height: 50px;
    margin-top: 20px;
    padding: 30px 0px 10px 0px;
}

h3{
    background: blue;
    color: cyan;
    width: auto;
    height: 50px;
    margin-top: 20px;
    padding: 30px 0px 10px 0px;
}

body{
    background: url(img/sun.jpg) center / cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}



p{
    background: green;
    color: greenyellow;
    margin: 20px auto;
    

    height: 200px;

    padding: 10px 70px 10px 70px;

    border: 3px solid goldenrod;
    border-radius: 20px;
}

text{
    background: blue;
    color: cyan;
    width: auto;
    height: 50px;
    margin-top: 20px;
    padding: 30px 0px 10px 0px;
}


